header {
    text-align: center; /* This ensures the header content is centered */
}


.large {
    font-size: 31px;
}
.medium {
    font-size: 25px;
}
.small {
    font-size: 21px;
}


html {
  background-color: #fffaf0;
}

h1 {
	text-align: center;
	width: 100%;
    margin: 0; /* Remove default margin */
	line-height: 1;
	padding: 23px 0 23px 0;
    background-color: #808000;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}


body {
	width: 85%;
    margin: 50px auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}







ś

