/* VERSION 1.0 CSS */

header {
    text-align: center; /* This ensures the header content is centered */
}


.large {
    font-size: 36px;
}
.medium {
    font-size: 25px;
}
.small {
    font-size: 21px;
}


html {
  background-color: light gray;
}

h1 {
	line-height: 0.73;
	text-align: center;
	width: 100%;
    margin: 0; /* Remove default margin */
	padding: 23px 0 23px 0;
    background-color: #808000;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}


body {
	font-size: 20px;
	width: 85%;
    margin: 28px auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}




main {
    padding-left: 16px;
	padding-right: 16px;
}

h2 {
	line-height: 0;
	font-size: 25px;
	font: Impact [sans-serif];
    font-weight: 540;
}


.check::before {
    content: "✓"; /* Adds the check mark */
    font-weight: 625;
    color: black; /* Sets the color of the check mark */
    margin-left: 18px; /* Adds space before the check mark */
    margin-right: 6px; /*Adds space after the check mark */
    font-family: Arial, sans-serif; 
}





